<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rz.manuscript.mapper.UserRoleMappingMapper">

    <select id="queryVo" resultType="com.rz.manuscript.pojo.vo.UserRoleMappingVo"
            parameterType="com.rz.manuscript.pojo.request.QueryUserRoleMappingRequest">
        select turm.id,turm.role_id,turm.user_id,tu.real_name as user_real_name,tr.name as role_name
        from t_user_role_mapping turm
        left join t_role tr on turm.role_id = tr.id
        left join t_user tu on turm.user_id = tu.id
        <where>
            <if test="roleIds!=null">
                turm.role_id in
                <foreach collection="roleIds" open="(" close=")" index="index" item="roleId" separator=",">
                    #{roleId}
                </foreach>

            </if>
            <if test="roleId!=null">
                and turm.role_id = #{roleId}
            </if>
        </where>
    </select>
</mapper>
