<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rz.manuscript.mapper.WriteSelectedTopicMapper">
    <select id="getList" parameterType="com.rz.manuscript.pojo.vo.WriteSelectedTopicGetListRequest"
            resultType="com.rz.manuscript.pojo.vo.WriteSelectedTopicVo">
        SELECT twst.id,twst.title,twst.char_count,twst.is_complete, twst.last_modify_date from t_write_selected_topic twst
        <where>
            <if test="isComplete!=null  ">
                and twst.is_complete = #{isComplete}
            </if>
            <if test="title!=null and title!=''">
                and twst.title like concat('%',#{title},'%')
            </if>
        </where>
        order by id desc
        LIMIT #{startIndex},#{pageSize}
    </select>
    <select id="getVoById" parameterType="int"
            resultType="com.rz.manuscript.pojo.vo.WriteSelectedTopicVo">
        SELECT twst.*  from t_write_selected_topic twst
        <where>
            <if test="id!=null">
                and twst.id = #{id}
            </if>
        </where>
    </select>
</mapper>
